body {
  background-color: rgb(212, 176, 176);
}

header {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  color: white;
}

div {
  display: flex;
  flex-direction: row;
}
a {
  text-decoration: none;
}


p{
  color: aliceblue;
  display: block;
}